#banner {
  background-color: rgb(255, 255, 172);
  padding: 10px;
}

body {
  font-family: sans-serif;
  padding: 1em;
}

form.inline {
  display: inline;
}

.user-status {
  font-style: italic;
  font-size: 0.9em;
  display: inline;
}